
<div class="register">
    Create an account
</div>

<form [formGroup]="registerForm">

    <div>
        <label for="name">
            Name: 
        </label>
        <input type="text" required name="name" placeholder="Habibi">
    </div>

    <div>
        <label>
            DOB: 
        </label>
        <input type="date" placeholder="02/05/2000">
    </div>

    <div>
        <label>
            Phone: 
        </label>
        <input type="tel" maxlength="10" minlength="10" >
    </div>

    <div>
        <label>
            City: 
        </label>
        <input type="text" placeholder="Banglore">
    </div>

    <div>
        <label>
            Email: 
        </label>
        <input type="email" required>
    </div>

    <div>
        <label>
            Password: 
        </label>
        <input type="password" required>
    </div>

    <div>
        <label>
            Confirm Password: 
        </label>
        <input type="password" required>
    </div>
</form>

<div class="submit">
    <button class="sumbit-btn bg-blue-200" (click)="submit()">Register</button>
</div>

<div class="login">
    Already have an account ?
    <button class="create-acc" (click)="userRegister()">
        Login
    </button>
</div>
