.main-products {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: ExtraLight 200;
  // font-weight: 00;
  padding: 20px;
}

.product-image {
  width: 40%;
  height: 50%;
}