<div class="order-summary">
    <strong>Order Summary</strong>

    <div class="sub-total">
        <h4>Subtotal</h4>
        <strong><span>&#x20B9;</span>{{subTotal}}</strong>
    </div>
    <span class="separator"></span>

    <div class="shipping-cost">
        <h4>Shipping estimates</h4>
        <strong><span>&#x20B9;</span>5</strong>
    </div>
    <span class="separator"></span>

    <div class="total-cost">
        <strong>Order total</strong>
        <strong><span>&#x20B9;</span>45</strong>
    </div>

    <button class="checkout"> Checkout </button>
    <div class="shopping">
        <span> or </span>
        <a routerLink = '/decor'> continue shopping... </a>
    </div>
</div>
