<div class="order-summary">
    <strong>Order Summary</strong>

    <div class="sub-total">
        <h4>Subtotal</h4>
        <strong>{{subTotal | priceFormat }}</strong>
    </div>
    <span class="separator"></span>

    <div class="shipping-cost">
        <h4>Shipping estimates</h4>
        <strong>{{estimates | priceFormat}}</strong>
    </div>
    <span class="separator"></span>

    <div class="total-cost">
        <strong>Order total</strong>
        <strong>{{totalAmount | priceFormat}}</strong>
    </div>

    <button class="checkout" [disabled]="true"> Checkout </button>
    <div class="shopping">
        <span> or </span>
        <a routerLink = '/decor'> continue shopping... </a>
    </div>
</div>
`