@if (isVisible) {
    <div class="quick-view-container">
        <img [src]="product.image" alt="no-product-image" class="product-image">
        <div class="product-details">
            <h4 class="product-name">{{product.name}}</h4>
            <span class="product-price">$40</span>
            <p class="product-desc">{{product.description}}</p>
            <button class="add-to-cart" (click)="addItem(product)">Add To Bag</button>
        </div>
        <img [src]="imgPath" alt="close" class="close" (click)="close()" width="20px" >
    </div>
}