.quick-view-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #bfdbfe, transparent);
  border: 1.5px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 20px;
  width: 300px;
  color: #000;
  font-weight: 300;
  border-radius: 10px;
  pointer-events: fill;
  opacity: 1;

  .product-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .product-name {
    font-size: 18px;
    font-family: mulish;
    text-transform: capitalize;
  }

  .add-to-cart {
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100%;
    font-weight: 500;
    color: #000;
    text-shadow: #AAFF00 1px 0 10px;
  }

  .item-added {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close{
    display: flex;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: #000;
    border-radius: 50%;
    padding: 2px;
  }

  .product-image {
    border-radius: 15%;
   }

   .product-desc {
    text-transform: capitalize;
   }

   .product-price {
    span{
      margin-right: 2px;
    }
   }

  }

@media (min-width: 960px) {
    .quick-view-container {
        display: grid;
        width: auto;
        grid-template-columns: 1fr 2fr auto auto;
        column-gap: 10px;
        background: linear-gradient(0deg, #bfdbfe, transparent);
    }   

    .product-image {
      grid-row: 1/4;
      grid-column: 1/3;
      width: 75%;
    }

    .product-details {
      grid-row: 1/4;
      align-self: end;
      letter-spacing: 1px;
    }
}