@if(hasItems) {
<div class="cart-container">
    <div class="cart-items">
        <h2>Home Decor Picks</h2>
        @for(item of items; track item.name) {
        <li class="flex py-6 list-items">
            <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200 img-container">
                <img [src]="item.image" alt="item image not found" class="size-full object-cover">
            </div>

            <div class="ml-4 flex flex-1 flex-col">
                <div>
                    <div class="flex justify-between text-base font-medium text-gray-900">
                        <h3>
                            <p>{{item.name}}</p>
                        </h3>
                        <p class="ml-4">{{item.price | priceFormat }}</p>
                    </div>

                    <p class="mt-1 text-sm text-gray-500">{{item.type}}</p>
                </div>
                <div class="flex flex-1 items-end justify-between text-sm">
                    <ha-quantity [product]="item"></ha-quantity>
                    <div class="flex">
                        <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500"
                            (click)="removeItem(item.id)">Remove</button>
                    </div>
                </div>
            </div>
        </li>
        }
    </div>

    <ha-order-summary></ha-order-summary>
</div>
} @else {
<div class="empty-cart">
    <img src="../../assets/empty-bag.jpg" alt="no items found">
    <h2> Your bag is empty </h2>
    <a routerLink="/decor"> browse items... </a>
</div>
}